@media (max-width: 780px) {
    .main-container {
        width: 143vw;
    }

    nav {
        margin-top: 2.3em;
    }

    nav ul,
    .header-button {
        visibility: hidden;
    }

    nav img {
        margin-left: 6em;
    }

    .header-top-shape {
        visibility: hidden;
        position: absolute;
    }

    .quick-links {
        margin-top: 12em;
        width: 45%;
    }

    .quick-links h3 {
        bottom: -44em;
        width: 6em;
    }

    .contact-us h3 {
        bottom: 6em;
        left: -9em;
    }

    .contact-us {
        position: absolute;
        bottom: -103em;
        display: flex;
        align-items: center;
        gap: 20%;
        left: 23em;
    }

    .contact-info li {
        font-size: 1.2em;
    }

    .contact-info li a {
        font-size: 1.05em;
    }

    .list-area li a {
        font-size: 1.06em;
    }

    .footer {
        margin-top: -21em;
        display: flex;
        justify-content: space-evenly;
    }

    .footer-container {
        height: 941px;
    }

    .footer-shape {
        width: 143%;
        bottom: -114rem;
    }

    .footer-button {
        width: 16em;
        text-align: center;
    }

    .foot-content {
        font-size: 1.2em;
    }
}

@media (max-width: 640px) {
    .main-container {
        width: 187vw;
        height: 171vh;
        overflow-x: hidden;
    }

    .contact-us {
        position: relative;
        left: 0em;
        flex-direction: column;
        top: 7em;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contact-info {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10em;
    }

    .list-area li a, .contact-info li, .button-text {
        font-size: 1.45em;
        width: fit-content;
    }

    .contact-us h3 {
        bottom: 9em;
        font-size: 2em;
        left: 41%;
    }

    .quick-links {
        margin-top: 10em;
        width: 180%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: 6%;
        flex-wrap: wrap;
    }

    .quick-links h3 {
        bottom: 4em;
        width: 6em;
        position: relative;
        margin-bottom: auto;
        left: 40%;
        font-size: 2em;
    }

    .footer {
        flex-direction: column;
        margin-top: -16em;
    }

    .footer-shape {
        width: 187%;
        bottom: -2rem; 
    }

    .footer-button{
        margin-top: 3em;
        height: 2.1em;
    }

    .footer-container {
        height: 100em;
    }

    .logo-footer {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .foot-logo img {
        width: 14em;
        height: 14em;
    }

    .foot-logo {
        width: 18em;
        margin: 2em 0 -1em 0;
    }

    .foot-content {
        width: 98%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 9em;
        font-size: 1.45em;
    }

    .sub-footer {
        position: relative;
    }
}