* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
}

:root {
    --primary-text-color: #385469;
    --hover-text-color: #f39f5f;
    --background-color-1: #70a6b1;
    --background-color-2: #f4eee5;
    --footer-background-color: #5c707e;
    --white: #fff;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--hover-text-color);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--hover-text-color);
    border-radius: 10px;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
}

a {
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    color: var(--primary-text-color);
    transition: all 0.4s ease-in-out;
}

/* -------------------Header section----------------------- */

.header-top-shape img {
    width: 100%;
    height: 5.6em;
    object-fit: cover;
    color: var(--background-color-1);
    box-sizing: border-box;
}

img svg {
    vertical-align: middle;
}

.connect-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 52px 0 52px;
    padding: 15px 0;
    font-weight: 500;
    position: absolute;
    top: 0;
    color: var(--white);
}

.location {
    display: flex;
    gap: 40px;
}

.social-media {
    gap: 40px;
    position: relative;
    left: 382px;
}

nav {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 10px 15px 10px -1px;
    justify-content: space-around;
    position: relative;
    top: -15px;
    align-items: center;
}

nav img {
    width: 7em;
    height: 7em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

nav ul li a {
    margin: 0px 17px;
    color: var(--primary-text-color);
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--hover-text-color);
    transition: all 0.4s ease-in-out;
}

.header-button,
.footer-button {
    background-color: var(--hover-text-color);
    font-weight: 700;
    padding: 22px 40px;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0;
    border-radius: 22px;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 1;
    z-index: 9;
    text-transform: capitalize;
    vertical-align: middle;
    height: 15px;
}

.header-button a,
.footer-button a {
    color: var(--white);
}


/* -------------------------------------Body Container-------------------------- */

.hero-banner {
    width: 100%;
    height: 801px;
    background-image: url(/assets/asset\ 60.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 96px 52px 30px 52px;
}

.feature-section {
    width: 100%;
    height: 700px;
}

.welcome_text{
    font-size: 18px;
    font-family: "Pangolin";
    color: var(--hover-text-color);
    z-index: 9;
}

.text{
    position: relative;
    top: -29em;
}

.school_name, .class-digit{
    font-size: 70px;
    line-height: 78.4px;
    font-family: 'Quicksand, sans-serif';
    color: var(--primary-text-color);
    z-index: 9;
}

.class-digit{
    color: var(--hover-text-color);
}

.affiliating_agency{
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
    line-height: 28px;
    color: #5c707e;
    margin: 20px 0 50px 0;
    z-index: 9;
}

.fadeInUp{
    visibility: visible;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.sticker1 img{
    position: relative;
    bottom: 60px;
    left: 112px;
}

.sticker2 img{
    position: relative;
    bottom: 64px;
    left: 444px;
}

.sticker3 img{
    position: absolute;
    top: 15em;
    left: -8em;
}

.sticker4 img{
    position: absolute;
    left: 25%;
    bottom: -20%;
}

.float-bob-y {
    -webkit-animation-name: float-bob-y;
    animation-name: float-bob-y;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes float-bob-y{
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.sticker5 img{
    position: absolute;
    bottom: -25%;
    left: 80%;
    animation: rounded 5s linear infinite;
}

@keyframes rounded{
    50% {
        transform: rotate(20deg);
    }
}

.image, .text{
    width: 50%;
    height: auto;
}

#boy-image{
    position: relative;
    z-index: 1;
}

.image img{
    margin-top: 1.6em;
}

.float-bob-x{
    -webkit-animation-name: float-bob-x;
    animation-name: float-bob-x;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes float-bob-x{
    0% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
}

.sticker6 img{
    position: relative;
    top: -39em;
    right: -25em;
    z-index: 0;
    animation: rounded 5s linear infinite;
}

.sticker7{
    overflow: hidden;
}

.sticker7 img{
    position: relative;
    right: 0em;
    top: -43.7em;
}

/* ------------------------------Footer section------------------------------------ */

.footer-container {
    width: 100%;
    height: 640px;
    background-color: var(--background-color-2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    margin-top: -3em;
    align-items: center;
}

.footer-shape {
    width: 100%;
    height: 6.2em;
    position: absolute;
    bottom: -99rem;
}

.sub-footer-box {
    background-image: url(/assets/asset\ 58.png);
    object-fit: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 5em;
    position: absolute;
    bottom: -95.6em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-text-color);
}

.logo-footer {
    width: 20em;
}

.foot-content {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    height: 110px;
}

.foot-logo,
.quick-links h3,
.contact-us h3 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #F39F5F 4.85%, rgba(201, 203, 223, 0) 96.39%);
    border-bottom: 2px solid transparent;
    border-image-slice: 2;
    display: inline-block;
}

.quick-links,
.contact-us,
.logo-footer {
    color: var(--primary-text-color);
    margin-top: 30px;
}

.quick-links h3,
.contact-us h3 {
    position: absolute;
    bottom: -46em;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.quick-links {
    display: flex;
    width: 35%;
    margin-top: 9em;
    margin-right: -40px;
    box-sizing: border-box;
    justify-content: space-between;
}

.quick-links li a:hover {
    color: var(--hover-text-color);
    transition: all 0.4s ease-in-out;
    margin-left: 5px;
}

.second-footer-column ul li,
.single-footer-column ul li {
    margin-bottom: 15px;
}

.second-footer-column {
    width: 50%;
}

.contact-info {
    margin-top: 2em;
}

.contact-info li {
    margin-bottom: 20px;
    width: 269px;
}

.footer-button {
    width: 7em;
}

.condition {
    display: flex;
    gap: 2em;
}

.condition a:hover {
    color: var(--hover-text-color);
    border-bottom: 1px solid var(--hover-text-color);
    transition: all 0.2s ease-in-out;
}

.copyright,
.condition {
    margin-top: 2em;
}