@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Macondo&family=Pangolin&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    list-style: none;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
}

:root {
    --primary-text-color: #385469;
    --hover-text-color: #f39f5f;
    --background-color-1: #70a6b1;
    --background-color-2: #f4eee5;
    --footer-background-color: #5c707e;
    --white: #fff;
}

a {
    cursor: pointer;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--hover-text-color);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--hover-text-color);
    border-radius: 10px;
}

body {
    overflow-x: hidden;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
}

a {
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    color: var(--primary-text-color);
    transition: all 0.4s ease-in-out;
}

/* -------------------Header section----------------------- */

.header-top-shape img {
    width: 100%;
    height: 5.6em;
    object-fit: cover;
    color: var(--background-color-1);
    box-sizing: border-box;
}

img svg {
    vertical-align: middle;
}

.connect-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 52px 0 52px;
    padding: 15px 0;
    font-weight: 500;
    position: absolute;
    top: 0;
    color: var(--white);
}

.location {
    display: flex;
    gap: 40px;
}

.address i,
.e-mail i {
    margin-right: 8px;
}

.social-media {
    gap: 40px;
    position: relative;
    left: 382px;
}

.social-media a i {
    margin: 0 10px;
    font-size: 0.99em;
    color: var(--white);
}

.social-media a i:hover {
    color: var(--hover-text-color);
    transition: all 0.4s ease-in-out;
}

nav {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 10px 15px 10px -1px;
    justify-content: space-around;
    position: relative;
    top: -15px;
    align-items: center;
}

nav img {
    width: 7em;
    height: 7em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

nav ul li a {
    margin: 0px 17px;
    color: var(--primary-text-color);
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--hover-text-color);
    transition: all 0.4s ease-in-out;
}

.header-button,
.footer-button,
.explore-btn,
.touch-btn {
    background-color: var(--hover-text-color);
    font-weight: 700;
    padding: 22px 40px;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0;
    border-radius: 22px;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 1;
    z-index: 9;
    text-transform: capitalize;
    vertical-align: middle;
    height: 15px;
    visibility: visible;
    animation-delay: 0.8s;
    animation-name: fadeInUp;
}

.header-button a,
.footer-button a,
.explore-btn a,
.touch-btn a {
    color: var(--white);
}

.header-button a i,
.footer-button a i,
.explore-btn a i,
.touch-btn a i,
.button i {
    margin-left: 0.8em;
}

.button-text,
.header-button a i,
.footer-button a i,
.explore-btn a i,
.touch-btn a i {
    position: relative;
    top: -0.4em;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    position: relative;
    top: -60em;
    left: 4em;
}

.explore-btn {
    background-color: var(--hover-text-color);
}

.explore-btn:hover {
    background-color: var(--primary-text-color);
}

.button {
    background-color: transparent;
    color: var(--background-color-1);
    border: 2px solid var(--background-color-1);

}

.button,
.explore-btn {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 34px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before,
.explore-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--background-color-1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before,
.explore-btn:hover::before {
    scale: 3;
}

.button:hover {
    color: var(--white);
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}

.read-btn {
    display: inline-block;
    border-radius: 20px;
    background-color: var(--hover-text-color);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 2.4em;
}

.read-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    top: -0.6em;
    font-size: 16px;
    font-family: "Source Sans 3", sans-serif;
}

.read-btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.read-btn:hover span {
    padding-right: 15px;
}

.read-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.read-btn:hover {
    background-color: var(--primary-text-color);
}

.sidebar_toggle i {
    font-size: 2em;
}

/* -------------------------------------Body Container-------------------------- */

.hero-banner {
    width: 100%;
    height: 801px;
    background-image: url(/assets/asset\ 60.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 96px 52px 30px 52px;
}


.welcome_text {
    font-size: 18px;
    font-family: "Pangolin";
    color: var(--hover-text-color);
    z-index: 9;
}

.text {
    position: relative;
    top: -29em;
    left: 2em;
    z-index: 3;
}

.school_name,
.class-digit {
    font-size: 70px;
    line-height: 78.4px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: var(--primary-text-color);
    z-index: 9;
}

.class-digit {
    color: var(--hover-text-color);
}

.affiliating_agency {
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
    line-height: 28px;
    color: #5c707e;
    margin: 20px 0 50px 0;
    z-index: 9;
}

.fadeInUp {
    visibility: visible;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.sticker1 img {
    position: relative;
    bottom: 60px;
    left: 112px;
}

.sticker2 img {
    position: relative;
    bottom: 64px;
    left: 444px;
}

.sticker3 img {
    position: absolute;
    top: 20em;
    left: -8em;
    z-index: -1;
}

.sticker4 img {
    position: absolute;
    left: 25%;
    bottom: -20%;
}

.float-bob-y {
    -webkit-animation-name: float-bob-y;
    animation-name: float-bob-y;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes float-bob-y {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.sticker5 img {
    position: absolute;
    bottom: -25%;
    left: 80%;
    animation: rounded 5s linear infinite;
}

@keyframes rounded {
    50% {
        transform: rotate(20deg);
    }
}

.image,
.text {
    width: 50%;
    height: auto;
}

#boy-image {
    position: relative;
    z-index: 1;
}

.image img {
    margin-top: 1.6em;
}

.float-bob-x {
    -webkit-animation-name: float-bob-x;
    animation-name: float-bob-x;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes float-bob-x {
    0% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
}

.sticker6 img {
    position: relative;
    top: -39em;
    right: -25em;
    z-index: 0;
    animation: rounded 5s linear infinite;
}

.sticker7 {
    overflow: hidden;
}

.sticker7 img {
    position: relative;
    right: 0em;
    top: -43.7em;
}

.feature-section {
    width: 100%;
    height: 600px;
}

.feature-box {
    width: 93%;
    height: auto;
    margin: 96px 52px 120px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#image-feature {
    position: relative;
    top: 1.2em;
    mask-image: url('./assets/mask.svg');
    -webkit-mask-image: url('./assets/mask.svg');
}

.feature-text h3 {
    font-size: 1.4em;
}

.bg,
.bg-1,
.bg-2,
.bg-3,
.bg-4 {
    position: absolute;
    top: 77.4em;
    transform: translate(-50%, -50%);
}

.bg-1 {
    left: 15%;
}

.bg-2 {
    left: 38.5%;
}

.bg-3 {
    left: 62%;
}

.bg-4 {
    right: -4.5%;
}

.cbse,
.admission,
.conveyance,
.fee-structure {
    width: 20em;
    height: 30em;
    flex-wrap: wrap;
    font-size: 16px;
    color: var(--footer-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center !important;
    color: var(--primary-text-color);
}

/* ------------About section---------------- */

.about-container {
    margin-top: -3em;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.about-img {
    width: 100%;
    height: auto;
    margin-left: 2em;
}

.about-content {
    width: 60%;
    height: auto;
    margin-left: -23em;
    position: relative;
    left: -2em;
}

.about-sticker img {
    bottom: 53%;
    left: 65%;
    z-index: -1;
}

.explore-btn-about {
    width: 26%;
}

#about-title-size {
    font-size: 50px;
    line-height: normal;
}

.about-text {
    color: var(--primary-text-color);
    width: 100%;
    margin-top: 1em;
    font-weight: 400;
    font-size: 1.1em;
}

.about-list {
    margin-top: 2em;
    margin-bottom: 3em;
}

.about-list li {
    font-size: 1.2em;
    margin-bottom: 0.7em;
    font-weight: 500;
    color: var(--primary-text-color);
}

.sticker8 img {
    position: absolute;
    left: -3em;
    top: 103em;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.sticker9 img {
    position: relative;
    left: -42em;
    z-index: -1;
    top: 2em;
}

.sticker10 img {
    position: absolute;
    left: 24em;
    z-index: -1;
    top: 106em;
}

.sticker11 img {
    position: absolute;
    left: 5em;
    top: 109em;
    z-index: -1;
}

.sticker12 img {
    position: absolute;
    top: 125em;
    left: 5em;
    border: 15px solid white;
    border-radius: 50%;
}

/* ------------digit section------------ */

#digit {
    margin-top: 10em;
    width: 100%;
    height: auto;
    background-image: url(/assets/asset\ 61.jpeg);
    background-repeat: no-repeat;
    color: var(--white);
}

#digit > h4 {
    font-size: 20px;
    position: relative;
    top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-count {
    width: 100%;
    height: 20em;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.count-box {
    width: 340px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count-box:nth-of-type(1),
.count-box:nth-of-type(2),
.count-box:nth-of-type(3) {
    border-right: 1px dotted white;
}

.count-box>h2, .wow-heading > h2 {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: normal;
    font-weight: 700;
}

.count-box>p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.count-box>img {
    width: 60px;
    height: 60px;
}

/* -----------Our feature section------------------- */

.ourFeature{
    width: 1300px;
    height: 1500px;
    margin: 80px 52px 0 52px;
    border: 3px solid red;
}

.wow-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    flex-wrap: nowrap;
}

.wow-heading > h2{
    color: var(--primary-text-color);
}

/* ------------------------------Footer section------------------------------------ */

.footer-container {
    margin-top: 8em;
    width: 100%;
    height: 640px;
    background-color: var(--background-color-2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    margin-top: -3em;
    align-items: center;
}

.footer-shape {
    width: 100%;
    height: 6.2em;
    position: absolute;
    bottom: -99rem;
}

.sub-footer-box {
    background-image: url(/assets/asset\ 58.png);
    object-fit: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 5em;
    position: absolute;
    bottom: -284em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-text-color);
}

.logo-footer {
    width: 20em;
}

.foot-content {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    height: 110px;
}

.foot-logo,
.quick-links h3,
.contact-us h3 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #F39F5F 4.85%, rgba(201, 203, 223, 0) 96.39%);
    border-bottom: 2px solid transparent;
    border-image-slice: 2;
    display: inline-block;
}

.quick-links,
.contact-us,
.logo-footer {
    color: var(--primary-text-color);
    margin-top: 30px;
}

.quick-links h3,
.contact-us h3 {
    position: absolute;
    bottom: -170em;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.quick-links {
    display: flex;
    width: 35%;
    margin-top: 9em;
    margin-right: -40px;
    box-sizing: border-box;
    justify-content: space-between;
}

.quick-links li a:hover {
    color: var(--hover-text-color);
    transition: all 0.4s ease-in-out;
    margin-left: 5px;
}

.second-footer-column ul li,
.single-footer-column ul li {
    margin-bottom: 15px;
}

.second-footer-column ul li a i,
.single-footer-column ul li a i {
    margin-right: 5px;
}

.second-footer-column {
    width: 50%;
}

.contact-info {
    margin-top: 2em;
}

.contact-info li {
    margin-bottom: 20px;
    width: 269px;
}

#icons {
    margin-right: 10px;
    font-size: 20px;
    color: var(--hover-text-color);
}

.footer-button {
    width: 7em;
}

.condition {
    display: flex;
    gap: 2em;
}

.condition a:hover {
    color: var(--hover-text-color);
    border-bottom: 1px solid var(--hover-text-color);
    transition: all 0.2s ease-in-out;
}

.copyright,
.condition {
    margin-top: 2em;
}